#include <windows.h>

#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 185, 95
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST1,5,5,175,50,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Nuke",IDC_BUTTON1,5,60,50,14
    PUSHBUTTON      "Abort",IDC_BUTTON2,60,60,50,14
END
